# Python
*.pyc
__pycache__/
.env
venv*/ 
venv/   
.venv

# Node
node_modules/
dist/
build/

# macOS
.DS_Store

# Logs
experiment_logs/

# VSCode settings
.vscode/

# Ignore frontend node_modules explicitly
frontend/node_modules/
frontend/build/
