# /Kagami/backend/requirements.txt
fastapi
uvicorn[standard]
python-multipart
nltk # For tokenization, VADER
textstat # For readability scores
emoji # For emoji detection/removal
empath # For psychological categories
openai
google-cloud-aiplatform #